@tailwind base;
@tailwind components;
@tailwind utilities;

.green-s {
  width: 250.75px!important; /* slightly larger than text height */
  height: 27.75rem !important;
  margin-right: -85.75px !important; /* equal spacing */
  margin-bottom: -0px;
  padding-bottom: 5px; 
  margin-left: -85px;
  vertical-align: middle;
  display: inline-block;
}

.logo-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -85px;
  margin-top: -115px;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(3rem, 30vw, 3rem);
}

@media (min-width: 640px) {
  .logo-text-container {
    padding-left: 0;
    padding-right: 0;
  }
}
